-# This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th ID
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
      %th Edit
      %th Delete
  %tbody
    = render :partial => 'movie', :collection => @movies

= link_to 'Add new movie', new_movie_path
